img{
    width: 100%;
}

h1{
    text-align: center;
    margin-bottom: 5%;
}

section{
    display: flex;
    justify-content: center;
}

#pancake{
    width: 20%;
}

#scoreBox{
    display: flex;
}

.clicked{
    transform: scale(0.9) rotate(90deg);
    transition: 0.1s ease-in-out;
}